body {
    background-color: rgb(92, 79, 9);
    width: 100%;
}

h1 {
    background-color: rgb(13, 14, 14);
    color: rgb(92, 79, 9);
    text-align: center;
}

h2 {
    color: rgb(14, 12, 12);
    margin-left: 3%
}

ul {
    margin-left: 3%
}

a{
    color: rgb(13, 14, 14);
}

.column1 {
    width: 45%;
    margin-left:5%;
}
.column2 {
    float: right;
    position: relative;
    bottom: 529px;
    width: 45%;
    margin-right: -10%;
    
}